
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";}
input,a{outline:none;}
.public{
	width:1080px;
	margin:0 auto;
}
/*------------header----------------------*/
.header{
	padding-top:45px;
	overflow: hidden;
	}
.header .h-logo-l{
	float:left;	
	display: block;
	width:250px;
	height:60px;
	background:url("../image/1 (24).png") no-repeat 0 0;
	position: relative;
}
.header .h-logo-r{
	float:right;
	display: block;
	height:50px;
	width:360px;
	background:url(../image/oo.png) no-repeat 0 3px;
	position: relative;
}
/*------------content----------------------*/
.content{
	padding-top:102px;
	overflow: hidden;
	}
.content .con-left{
	float:left;
    width: 500px;
    height: 354px;
    background: no-repeat url(../image/ff.png);
    position: relative;
    left: 50px;
}
.content .con-right{
	color: #666;
    width: 400px;
    border: 1px solid #ececec;
    border-top: 2px solid #ff4965;
    float: right;
}
.content .con-right .con-f{
	padding:50px 35px;
}
.con-f .f-title{
	font-size: 14px;
    color: #000;
    font-weight: 700;
    margin-bottom: 30px;
}
.con-f .f-title .span-l{
	float:left;
}
.con-f .f-title .span-r{
	float:right;
	font-size: 12px;
    font-weight: 400;
    color: #666;
}
.con-f .f-title .span-a{
	color:#ff4965;
}
/*------------------------手机号------------------------*/
.f-sjh{
	margin-top:15px;
	width:330px;
	height:32px;
	border:1px solid #ccc;
	border-radius: 2px;
	position:relative;
}
.f-sjh .iconfont{
	font-size:18px;
	line-height:32px;
	padding:0 8px;
	border-right:1px solid #ccc;
}
.f-sjh .f-inp{
    height: 30px;
    font-size: 12px;
    width: 278px;
    color: #666;
    line-height: 30px;
    border: 0;
    outline: 0;
    padding: 0 6px;
    background: 0 0;
    position: relative;
}
/*-------------滑块---------*/
#drag{ 
    position: relative;
    background-color: #e8e8e8;
    width: 330px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-top:15px;
}
#drag .handler{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 44px;
    height: 30px;
    border: 1px solid #ccc;
    cursor: move;
}
.handler_bg{
    background: #fff url("../image/1.png") no-repeat center;
}
.handler_ok_bg{
    background: #fff url("../image/2.png") no-repeat center;
}
#drag .drag_bg{
    background-color: #7ac23c;
    height: 32px;
    width: 0px;
}
#drag .drag_text{
    position: absolute;
    top: 0px;
    width: 330px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -o-user-select:none;
    -ms-user-select:none; 
}
/*----------验证码-----------*/ 
.con-f .f-code{
	margin-top:15px;
	position: relative;
}
.con-f .f-code .f-left-c{
	width:225px;
	height:32px;
	border:1px solid #ccc;
	border-radius: 2px;
	float:left;
}
.con-f .f-code .iconfont{
	font-size:18px;
	line-height:32px;
	padding:0 8px;
	border-right:1px solid #ccc;
}
.con-f .f-code .f-inp-c{
	height: 30px;
    font-size: 12px;
    width: 180px;
    color: #666;
    line-height: 30px;
    border: 0;
    outline: 0;
    padding-left:5px;
    background: 0 0;
    position: relative;
}
.con-f .f-code .f-inp-h{
	width:86px;
	height:32px;
	border:1px solid #ff4965;
	border-radius: 2px;
	float:right;
	color:#ff4965;
	text-align: center;
	background: #fff;
	line-height: 32px;
	position:absolute;
	left:39px;
}
/*密码*/
.con-f .f-pwd{
	margin-top:64px;
	width:330px;
	height:32px;
	border:1px solid #ccc;
	border-radius: 2px;
}
.f-pwd .iconfont{
	font-size:18px;
	line-height:32px;
	padding:0 8px;
	border-right:1px solid #ccc;
}
.f-pwd .f-pwd-p{
	height: 30px;
    font-size: 12px;
    width: 278px;
    color: #666;
    line-height: 30px;
    border: 0;
    outline: 0;
    padding: 0 6px;
    background: 0 0;
    position: relative;
}
/*注册*/
.f-reg{
	margin-top:15px;
	width:330px;
	height:32px;
	border:1px solid #ccc;
	border-radius: 2px;
	background: #ff4965;
	text-align: center;
}
.f-reg a{
	color:#fff;
	line-height:32px;
	font-size:14px;
	letter-spacing: 6px;
}
.f-reg:hover{
	opacity: 0.7;
}
/*保障*/
.ipt-tip{
	width:330;
	margin-top:15px;
}
/*协议*/
.ipt-xy{
	width:330;
	margin-top:15px;
}
.ipt-xy a{
	color: #ff4965;
}
.ipt-quick{
	overflow: hidden;
	height:24px;
	margin-top:15px;
	line-height: 24px;
}
.ipt-quick .f-fl{
	float:left;
}
.ipt-quick .ipt-quick-qq{
	width: 25px;
    height: 24px;
    margin: 0 4px;
    background-image:url(../image/qwt.png);
    background-repeat:no-repeat;
    background-position:1px 0 ;
}
.ipt-quick .ipt-quick-tb{
	width: 25px;
    height: 24px;
    margin: 0 4px;
    background-image:url(../image/qwt.png);
    background-repeat:no-repeat;
    background-position:1px 0 ;
    background-position:-59px 0 ;
}
.ipt-quick .ipt-quick-wx{
	width: 25px;
    height: 24px;
    margin: 0 4px;
    background-image:url(../image/qwt.png);
    background-repeat:no-repeat;
    background-position:1px 0 ;
    background-position:-118px 0 ;
}

		
#verificationGode{
				width: 86px;
			    height: 32px;
			    border: 1px solid #ff4965;
			    display: inline-block;
			    text-align: center;
			    border-radius: 2px;
			    line-height: 32px;
			    margin-right: 10px;
			    position:absolute;
			    left:243px;top:0;
			    
		}